# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store

# Data (do not commit)
data/raw/
data/interim/
data/processed/

# Run artifacts (usually big/noisy)
results/runs/

# Logs
*.log

# Large binaries
*.h5
*.pt
*.pth
*.ckpt
*.pkl
*.npy
*.npz
